<div class="form-group">
    <md-content md-theme="docs-dark"
                layout-padding
                class="login-form">
        <md-input-container class="md-block md-input-has-value">

            <label for="projectName">Название задачи</label>
            <input ng-required="true"
                   name="projectName"
                   ng-model="projectName"
                   class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched"
                   id="projectName" />

        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
            <label for="summary">Краткое описание задачи</label>

            <input name="summary"
                   id="summary"
                   ng-model="taskSummary"
                   type="text" />
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
            <label for="summary">Крaйняя дата выполнения задачи</label>
            <md-datepicker ng-model="taskDeadline" 
                           md-placeholder="Enter date"
                           md-open-on-focus>
            </md-datepicker>
        </md-input-container>
    </md-content>

    <md-button ng-click="answer({TaskName: taskName, Summary: taskSummary, DeadLine: taskDeadline})">
        Добавить
    </md-button>
</div>