<div class="home-page">
    <div class="modal-footer">
        <md-button type="submit"
                class="md-raised"
                ui-sref="registrationpage">
            Зарегистрироваться
        </md-button>
    </div>
    <div class="top-container">
        <div class="left-side">
            <div ng-include
                 src="'LoginPage.html'"
                 ng-controller="LoginCtrl as loginpage">
            </div>
        </div>
        <div class="right-side">
            <div class="slogan">
                Создавайте проекты, распределяйте задачи, отслеживайте активность проектной команды. <br />
                Лидер - будь впереди!
            </div>
        </div>
    </div>

</div>