<form novalidate name="loginForm" ng-submit="loginForm.$valid && loginpage.loginGo()">
    <div class="form-group">
        <md-content md-theme="docs-dark"
                    layout-padding
                    class="login-form">
            <md-input-container class="md-block md-input-has-value">
                <label for="login">Логин</label>
                <input class="login-input"
                       name="login"
                       ng-model="loginpage.login"
                       id="login"
                       ng-required="true" />
            </md-input-container>
            <md-input-container class="md-block md-input-has-value">
                <label for="password">Пароль</label>

                <input id="password"
                       ng-model="loginpage.password"
                       type="password"
                       name="password"
                       ng-required="true" />
            </md-input-container>
        </md-content>
        <md-button class="md-raised submit-btn" type="submit">Войти</md-button>
    </div>
</form>