<div class="user-page">

    <div class="menu-bar">
        <md-button class="md-primary md-raised menu-item"
                   ng-click="userpage.showAddProjectDialog($event)"
                   ng-if="userpage.isMyPage()">
            Создать проект 
            <i class="glyphicon glyphicon-camera"></i>
        </md-button>
        
        <md-button class="md-primary md-raised menu-item" ui-sref="searchpage">
            Поиск
        </md-button>
        <md-button class="md-primary md-raised menu-item" ui-sref="adminpage">
            Роли
        </md-button>
        <md-button class="md-primary md-raised menu-item" ng-click="userpage.logoutGo()">
            Выйти
        </md-button>
    </div>

    <div class="projects-container">
        <div class="project-item"
             ng-repeat="project in userpage.projects track by $index"
             ui-sref="projectpage({projectId: project.Id})">
            <div class="project-title">
                {{::project.ProjectName}}<!--model-->
            </div>
            <div class="project-summary">
                {{::project.Summary}}
            </div>
        </div>
    </div>
</div>
