<div class="user-page">
    <button class="btn btn-default" ng-click="userpage.logoutGo()">Выйти</button>

    <md-button class="md-primary md-raised" ng-click="userpage.showAddProjectDialog($event)">
        Создать проект
    </md-button>

    <div class="projects-container">
        <div class="project-item"
             ng-repeat="project in userpage.projects track by $index"
             ui-sref="projectpage({projectId: project.Id})">
            <div class="project-title">
                {{::project.ProjectName}}<!--model-->
            </div>
            <div class="project-summary">
                {{::project.Summary}}
            </div>
            <div class="project-title">
                {{::project.Id}}<!--model-->
            </div>
        </div>
    </div>


</div>
