
@import "./variables/variables.scss";

.home-page {
    height: 1000px;
    padding-bottom: 25em;
    position: relative;
    margin: 0 auto;
    font: 14px/1 Helvetica,Arial,sans-serif;
    color: #b5899b;
    background-image: url('../../Images/background.png');
    background-repeat: no-repeat;
    background-size: 100%;

    .modal-footer {
        margin-right: 25px;
    }

    .top-container {
        margin-left: 40px;
        margin-right: 40px;

        .left-side {
            color: #ffffff;
            vertical-align: top;
            background-color: $color-h-grey1;
            border-radius: 4px;
            padding: 20px 10px;
            overflow: hidden;
            display: inline-block;
            width: 250px;
            transition: 0.2s all ease-in;
            box-shadow: 0px 2px 6px $color-black;

            &:hover {
                box-shadow: 0px 5px 18px $color-black;
            }
        }

        .right-side {
            letter-spacing: 1.5px;
            vertical-align: top;
            display: inline-block;
            width: calc(100% - 285px);
            margin-left: 30px;
            border-radius: 4px;
            overflow: hidden;
            height: 100%;
            transition: 0.2s all ease-in;
            box-shadow: 0px 2px 6px $color-black;

            &:hover {
                box-shadow: 0px 5px 18px $color-black;
            }
        }
    }

    .slogan {
        background-color: $color-h-grey1;
        font-size: 18px;
        color: #ffffff;
        line-height: 24px;
        overflow: hidden;
        height: 100%;
        padding: 20px 10px;
    }

    .login-form {
        background-color: rgba(255,255,255, 0.3);
        border-radius: 4px;
    }

    .submit-btn {
        margin: 10px 0 0;
    }
}
