/* ------------------------------------------
# Variables
--------------------------------------------- */

/* ------------------------------------------
# Desktop typography variables
--------------------------------------------- */
$typography-h1: 2.625rem;
$typography-h1-line-height: 3.5rem;

$typography-h2: 1.875rem;
$typography-h2-line-height: 2.5rem;

$typography-h3: 1.5rem;
$typography-h3-line-height: 2rem;

$typography-h4: 1.25rem;
$typography-h4-line-height: 1.75rem;

$typography-display: 2.25rem;
$typography-display-line-height: 3rem;

$typography-intro: 1.5rem;
$typography-intro-line-height: 2rem;

$typography-p: 1.25rem;
$typography-p-line-height: 1.75rem;

$typography-p-article: 1.25rem;
$typography-p-article-line-height: 1.75rem;

$typography-p-small: 1rem;
$typography-p-small-line-height: 1.25rem;

$typography-meta: 0.875rem;
$typography-meta-line-height: 1.375rem;

/* ------------------------------------------
# Mobile typography variables
--------------------------------------------- */
$typography-h1-mobile: 1.75rem;
$typography-h1-line-height-mobile: 2.25rem;

$typography-h2-mobile: 1.5rem;
$typography-h2-line-height-mobile: 2rem;

$typography-h3-mobile: 1.25rem;
$typography-h3-line-height-mobile: 1.75rem;

$typography-h4-mobile: 1.125rem;
$typography-h4-line-height-mobile: 1.625rem;

$typography-display-mobile: 1.625rem;
$typography-display-line-height-mobile: 2.125rem;

$typography-intro-mobile: 1.25rem;
$typography-intro-line-height-mobile: 1.75rem;

$typography-p-mobile: 1.125rem;
$typography-p-line-height-mobile: 1.625rem;

$typography-p-article-mobile: 1.125rem;
$typography-p-article-line-height-mobile: 1.625rem;

$typography-p-small-mobile: 1rem;
$typography-p-small-line-height-mobile: 1.5rem;

$typography-meta-mobile: 0.875rem;
$typography-meta-line-height-mobile: 1.375rem;

/* ------------------------------------------
# Gizmo font icon typography variables
--------------------------------------------- */
$font-icon-large: 2.25rem;
$font-icon-medium: 1.875rem;
$font-icon-small: 1.5rem;
