$color-black                    : #000000;
$color-grey-8                   : #323232;
$color-grey-7                   : #505050; // Example text, example text
$color-grey-6                   : #737373; // Header,  example text, example text Standard text colour for headers and body copy
$color-grey-5                   : #969696; // Example text, example text
$color-grey-4                   : #b9b9b9; // Example text, example textMinimal text contrast
$color-grey-3                   : #dcdcdc; // Example text, example textDisabled text colour
$color-grey-2                   : #ebebeb; // Background and lines
$color-grey-1                   : #f5f5f5; // Background
$color-white                    : #ffffff;

$color-h-grey1 : rgba(149,165,166,1);


$color-primary-brand-elsevier   : #e9711c;
$color-secondary-brand-elsevier : #007398;


$color-confirmation       : #29A61B;
$color-warning            : #C83727;
$color-information        : #009ECE;


$color-grey-login-transparent  : rgba($color-black, 0.5);